<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="cart">Cart({{ cart }})</div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :src="image" alt="" :href="url">
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>

            <!-- <p v-if="inStock">In Stock</p> -->
            <!-- <p v-show="inStock">In Stock</p> -->
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
            <p v-else>Out of Stock</p>
            <p>{{ description }}</p>

            <ul>
              <!-- inside of array details (v-for directive, works like for loop)-->
              <!-- detail is a variant of details data object -->
              <li v-for="detail in details">{{ detail }}</li>
            </ul>

            <!-- setting key attribute using ':key' -->
            <!-- v-on directive short method @ for variants image @mouseover -->
            <div v-for="variant of variants" :key="variant.id" @mouseover="updateImage(variant.image)">{{ variant.color }}</div>
            <div v-for="size of sizes">{{ size }}</div>

            <!-- v-on directive short symbol is '@' sample is '@click="addToCart"' -->
            <button class="button" v-on:click="addToCart">Add to Cart</button>
            <button v-show="cart!=0" class="button" v-on:click="removeToCart">Remove Item to the Cart</button>
          </div>
        </div>
      </div>
      
      
    </div>

    <!-- Import app -->
    <script src="./main.js"></script>
    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
